<h1>Login</h1>

<div *ngIf="errors" style="color:#900;font-weight:bold">
  <ul>
    <li *ngFor="let error of errors | keyvalue">
      {{error.key}}: {{error.value}}
    </li>
  </ul>
</div>

<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="email">Email</label>
    <input id="email" type="text" formControlName="email" />
    <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
      <div *ngIf="f.email.errors.required">Email is required</div>
    </div>
  </div>

  <div>
    <label for="password">Password</label>
    <input id="password" type="password" formControlName="password" />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
  </div>

  <div>
    <button [disabled]="loading">
      <span *ngIf="loading" style="margin-right:8px">(Loading...)</span>
      Login
    </button>
  </div>
</form>
